:root {
    --page-bg-color: #691813;
}

/* ELEMENTS */

body {
    background-color: var(--page-bg-color);
    color: white;
    font-family: sans-serif;
}

/* CLASSES */

.gem-bar {
    background-color: black;
    max-height: 500px;
    min-height: 10px;
    width: 9vw;

    position: fixed;
    bottom: 23%; /* This locks the bar to the bottom of the hourglass. Hourglass height is constant. */
}

.gem-bar--first {
    opacity: 1;
}

.hourglass-frame {
    background-image: url('hourglass-frame.png');
    background-position: center;
    background-size: cover;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* debugging with opacity */
    opacity: 0.6;
}

/* UTILITIES */

.hidden {
    display: none !important;
}

.green {
    background-color: darkgreen !important;
}

.blue {
    background-color: darkblue !important;
}

.red {
    background-color: maroon !important;
}

.yellow {
    background-color: gold !important;
}
