/* ELEMENTS */

body {
    background-color: brown;
    color: white;
    font-family: sans-serif;
}

/* CLASSES */

.gem-bar {
    min-height: 10px;
    width: 60px;
    background-color: black;
}

/* UTILITIES */

.hidden {
    display: none !important;
}
